@import './media-mixins.scss';

@mixin light-theme {
  --color-bg: #fff;
  --color-bg-secondary: #e8eef1;
  --color-text: #001a41;
  --color-text-primary: #000000;
  --color-text-secondary: #b1b1b1;
  --color-text-third: #6c6c6c;
  --color-text-fourth: #ffffff;
  --color-text-fifth: #3b97d3;
  --color-button: #ed0226;
  --color-button-text: #ffffff;
  --color-input-background: #f3f3f3;
  --color-input-background-secondary: #ffffff;
  --color-input-border: #eaeaea;
}

@mixin dark-theme {
  --color-bg: #4f4557;
  --color-bg-secondary: #393646;
  --color-text: #f4eee0;
  --color-button: #ed0226;
}
