@import '@styles/base';

.container {
  max-width: 100% !important;

  h5 {
    margin: 2rem 0 0 3rem;
    @include font(36px, $font-weight-black, var(--color-text-primary));
  }

  .input_container {
    @include directionX;
    width: 90%;
    margin: 2rem auto 0;

    input {
      background-color: var(--color-input-background-secondary);
    }

    button {
      width: 150px;
      @include font(18px, $font-weight-semi-bold, var(--color-button-text));
      text-transform: capitalize;
    }
  }

  .grid_container {
    @include directionX;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 40px;
    justify-content: center;
    min-width: 100%;
    margin-top: 2rem;

    @include apply-at-md-size {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include apply-at-lg-size {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @include apply-at-xl-size {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

  }
}
